.navbar,.footer{
    width: 100%;
    min-height: 70px;
    background-color: blue;
    float: left;
}
.footer{
    margin-top: 15px;
}
.navbar{
    margin-bottom: 15px;
}
.nav{
    width: 100%;
    min-height: 450px;
    background-color: yellow;
    float: left;
}
.content{
    width: 100%;
    min-height: 450px;
    background-color: green ;
    float: left;
}
.side{
    width: 100%;
    min-height: 450px;
    background-color:  red;
    float: left;
}

@media only screen and (max-width: 768px){
    .nav, .content, .side{
        min-height: 150px;
    }

    .content{
        margin: 15px 0;
    }
}